@model ChaplyginMVCProject.Models.DetailedInfoModel
<fieldset>
    <legend>Подробная информация о контракте:</legend>
        <div class="display-field">
            @Html.DisplayFor(model => model.ContactInfo)
        </div>
</fieldset>

